#court-animation {
	height: 350px;

	.image-wrapper {
		height: 0px;

		.court-background {
			height: 350px;
		}
	}

	.content-wrapper {
		height: 350px;
		display: flex;
		align-items: center;
		justify-content: center;

		.empty-animation {
			margin-top: -60px;
		}

		.team-animation {
			.team-image {
				width: 200px;
				margin: 20px;
			}

			.flat-value {
				font-size: 50px;
				margin-top: -20px;
			}
		}
	}
}